*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f7f7ef;
min-height:100vh;
display:flex;
flex-direction:column;
}

/* topo */
header{
height:90px;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(
90deg,
#240046,
#5a189a,
#ff6d00
);
}

header h1{
color:white;
font-size:48px;
font-weight:bold;
}

/* conteúdo */
main{
flex:1;
padding:20px;
max-width:1100px;
width:100%;
margin:auto;
}

.topo{
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
margin-bottom:30px;
}

.foto-box{
width:260px;
height:260px;
background:white;
border-radius:20px;
box-shadow:0 4px 12px rgba(0,0,0,.15);

display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

#cameraBtn{
background:#3c096c;
color:white;
border:none;
border-radius:18px;

width:280px;
min-height:90px;

padding:18px;

display:flex;
justify-content:center;
align-items:center;

text-align:center;
font-size:18px;
line-height:1.4;

cursor:pointer;
}

.transcricao{
background:white;
min-height:260px;
border-radius:25px;
padding:25px;
box-shadow:0 4px 12px rgba(0,0,0,.15);
font-size:20px;
}

/* rodapé */
footer{
height:120px;
background:linear-gradient(
90deg,
#240046,
#5a189a,
#ff6d00
);

display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.velocidade{
position:absolute;
right:20px;
top:18px;
}

#speedControl{
background:black;
color:white;
border:none;
padding:8px 14px;
border-radius:20px;
}

.controles{
display:flex;
gap:20px;
}

.controles button{
width:65px;
height:65px;
border:none;
border-radius:50%;
background:white;
font-size:28px;
cursor:pointer;
}

.pause{
width:80px !important;
height:80px !important;
background:#5a189a !important;
color:white;
border:4px solid white !important;
}

/* celular */
@media(max-width:768px){

header h1{
font-size:38px;
}

.foto-box{
width:220px;
height:220px;
}

#cameraBtn{
width:250px;
}

.transcricao{
font-size:18px;
}

}